[user]
	name = Daniel Hosterman
	email = daniel.hosterman@gmail.com
[color]
	ui = true
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[push]
	default = simple
[github]
	user = dhosterman
[web]
	browser = open
[core]
	excludesfile = ~/.gitignore_global
